li {
    display: inline;
}

ul{
    list-style: circle;
}

#info_list {
    list-style-type: square;
}

#heading {
    background-color:white;
    margin: -20px;
    padding: 25px;
    font-size: 20px;
}
